*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family:'EB Garamond', serif;
    text-align: center;
    color: white;
    font-size: 8em;
    font-weight: 100;
}
header p {
    text-align: center;
    color: white;
    font-size: 2em;
}

img {
    max-width: 60%;
}

header {
    background-image: url("image/lolflowers.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 60%;
    height: 60vh;
}
.box {
    width: 200px;
    height: 10px;
    margin: 10px;
    padding: 20px;
  }

.icones{
    height: 50px;
    margin-right: 10px;
    vertical-align: middle;
}

nav{
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    text-align: center;
    font-family: 'Antonio', sans-serif;
}
.shadowbox {
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
  }

.activites-pro {
    font-family: 'Antonio', sans-serif;
    margin: 40px auto;
    width: 90vw;
    max-width: 980px;
    display: flex;
    flex-direction: column;
}

.activites-pro .shadowbox {
    margin-left: auto;
}

form {
    /* Uniquement centrer le formulaire sur la page */
    margin: 0 auto;
    height: max-content;
    width: 200px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
  }
  
form div + div {
    margin-top: 1em;
  }
  